@{
    ViewData["Title"] = "Изход";
}

<h2>Успешно излязохте!</h2>

<p>Вие сте успешно излезли от системата.</p>


<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Върни се на началната страница</a>
